// Fonts
$font__primary:'Public Sans', sans-serif;

//Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue:  hsl(233, 8%, 62%);
$white: hsl(0, 0%, 100%);